.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem .active{
    color: aquamarine;
}

.dialog a{
    color: white;
}

.messages {
    padding: 10px;
}

.btn {
    width: 100px;
}
